*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  
}

.navbar {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;

}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.logo{
  height: 3.5rem;
  width: 8rem;
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 1rem;
}
.logo img{
  height: 3rem;
  width: 3rem;
}
.navbar-items {
  width: 7rem;
  /* background-color: aqua; */
  height: 3.5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
}
.navbar-items:hover > a{
color: black;
}
.navbar-items:hover{
  background-color: white;
  }
/* .productList-container{
  display: flex;
  max-width: 100%;
} */

.homepage{
  min-width: fit-content;
}
.cart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cart-products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
}

.empty-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.empty-cart > img {
  width: 80%;
  height: 80%;
}

.productList-container{
max-width: fit-content;
}

.product-container{
  margin:1rem;
  padding:1rem;
  max-width: 15rem;
  height: 20rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 1rem;
  background-color:beige;
}

.product-image{
  max-height: 10rem;
  max-width: 10rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}
.product-image >img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
}

.addToCartBtn {
  height: 1.7rem;
  width: 7.5rem;
  background-color: rgb(172, 250, 126);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  /* border: 2px solid black; */
  border:none;
  border-radius: 1rem;
}
.addToCartBtn:hover{
  cursor: pointer;
}

.quantity-controller{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  font-size: large;
}
.quantity-controller .inner, .quantity-controller .inner-qty{
  display: flex;
  height: 1.7rem;
  width: 2.5rem;
  justify-content: space-around;
  align-items: center;
}
.quantity-controller .inner {
  background-color: rgb(172, 250, 126);
}
.quantity-controller .inner-qty {
  border: 2px solid rgb(172, 250, 126);
}
#plus{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#minus{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  border: 2px solid black;
  padding: 2rem;
}
.product-details .product-image{
  height: 20rem;
  width: 20rem;
}
.product-details > h1 {
  padding: 1.5rem;
}

.product-description {
max-width: 50vw;
padding: 1.5rem;
font-size: larger;
}

.order-details-bar{
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width:fit-content;
}
.order-total{
  height: 3.5rem;
  background-color: white;
  color: black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.place-order-btn {
  height: 3.5rem;
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(0, 255, 0);
  font-size: large;
  font-weight: bolder;
}
.orders{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width:fit-content;
}
.orderbox{
  background-color: black;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  color:white;
  text-align: center; 
  width: 25rem;
}

.orderbox a {
  text-decoration: none;
  color:inherit
}
.orderbox > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.orderbox h2 {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}

.orderdetailsbox{
  padding: 10rem;
}


.orderdetailsbox > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


